@model Model.General.ProductModel

@foreach (var productParameters in Model.Products)
{
    <a href="@Url.ActionLink("GetProduct", Model.Controller, new { id = productParameters["ProductId"] })">
        <div class="col-lg-10 col-8 rounded border-bottom m-2" style="height: 400px; width: 450px;">
            <div class="col-12 p-0 m-0">
                <img src="@productParameters["ProductImg"]" width="230" height="200" alt="ProductImg"/>
            </div>
            <div class="col-12 text p-0 m-0">
                <h6>@productParameters["Name"]</h6>
            </div>
            <div class="col-12 text mt-3 p-0 m-0 text-left text-black-50">
                @for (var i = 7; i <= 10; i++)
                {
                    var x = productParameters.ElementAt(i);
                    <span class="d-block text">
                        <b>@x.Key:</b> @x.Value
                    </span>
                }
            </div>
            <div class="col-12 text-center mt-4 m-1">
                <h4>@productParameters["Price"] zl</h4>
            </div>
        </div>
    </a>
}