@model Model.Models.Cart.CartModel
@{
    var totalCost = 0;
}

@if (Model.ProductList.Any())
{
    <div class="justify-content-center  mt-2 d-flex col-12 align-items-center">
        <div style="height: 80vh" class="rounded m-2 border justify-content-center shadow-sm mb-auto col-5 align-items-center">
            <h4 class="py-3 border-bottom">Koszyk</h4>
            <div class="overflow-auto" style="height: 60vh">
                @foreach (var product in Model.ProductList)
                {
                    totalCost += int.Parse(product["TotalPrice"]);
                    <div class="row pb-3 m-3 border rounded product" id="@product["ProductId"]" data-bind-ProductId="@product["ProductId"]" data-bind-Type="@product["Type"]" data-bind-Quantity="@product["Quantity"]">
                        <a href="@Url.ActionLink("GetProduct", product["Type"].Trim(), new { id = product["ProductId"] })">
                            <img width="150" height="150" class="img-thumbnail border-0" src="@product["ProductImg"]" alt="productImg"/>
                        </a>
                        <div class="col m-2">
                            <div class="row">
                                <b>Nazwa: </b>
                                <a class="text-primary" href="@Url.ActionLink("GetProduct", product["Type"].Trim(), new { id = product["ProductId"] })">
                                    @product["Name"]
                                </a>
                            </div>
                            <div class="row"><b>Cena: </b>@product["Price"] zł</div>
                            <div class="row">
                                <b>Ilość: </b>@product["Quantity"]
                            </div>
                            <div class="row"><b>Łącznie: </b> @product["TotalPrice"] zł</div>
                            <input type="number" class="totalValueOfProduct" value="@product["TotalPrice"]" disabled hidden/>
                            <button class="d-block btn-danger ml-auto rounded Remove" data-bind="@product["ProductId"]">Usuń</button>
                        </div>
                    </div>
                }
            </div>
            <div class="border-top pt-3 pb-3">
                <h4 class="d-inline" id="totalCartCost">Razem: @totalCost zł</h4>
            </div>
        </div>
        <div id="carouselExampleControls" class="m-2 col-6 rounded border justify-content-center shadow-sm mb-auto  align-items-center  carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div style="height: 70vh" class="justify-content-center  mb-auto col-10 align-items-center">
                        <h4 class="py-3 border-bottom">Dane</h4>
                        <form id="userDataForm">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="form-group m-2">
                                    <label for="name">Imię</label>
                                    <input type="text" name="name" value="@Model.DeliveryAddress?.Name" id="name" class="form-control" required />
                                    <span class="text-danger" id="nameErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="surname">Nazwisko</label>
                                    <input type="text" name="surname" value="@Model.DeliveryAddress?.Surname" id="surname" class="form-control" required />
                                    <span class="text-danger" id="surnameErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" value="@Model.DeliveryAddress?.Email" id="email" class="form-control" required />
                                    <span class="text-danger" id="emailErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="city">Miasto</label>
                                    <input type="text" name="city" id="city" value="@Model.DeliveryAddress?.City" class="form-control" required />
                                    <span class="text-danger" id="cityErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="postalCode">Kod Pocztowy</label>
                                    <input type="text" pattern="[0-9]{5}" value="@Model.DeliveryAddress?.PostalCode" name="postalCode" id="postalCode" class="form-control" required />
                                    <span class="text-danger" id="postalCodeErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="street">Ulica</label>
                                    <input type="text" name="street" id="street" value="@Model.DeliveryAddress?.Street" class="form-control" pattern="[0-9]{2}-[0-9]{3}" required />
                                    <span class="text-danger" id="streetErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="block">Numer Bloku</label>
                                    <input type="text" name="block" id="block" value="@Model.DeliveryAddress?.BlockNumber" class="form-control" required />
                                    <span class="text-danger" id="blockErrorMsg"></span>
                                </div>
                                <div class="form-group m-2">
                                    <label for="flat">Numer Mieszkania</label>
                                    <input type="text" name="flat" value="@Model.DeliveryAddress?.ApartmentNumber" id="flat" class="form-control" required />
                                    <span class="text-danger" id="flatErrorMsg"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="height: 70vh" class="justify-content-center mb-auto col-10 align-items-center">
                        <h4 class="p-4 border-bottom" style="margin-bottom: unset">
                            Płatność
                            <span style="margin-left: 7%">Dostawa</span>
                        </h4>
                        <div class="row">
                            <div class="list-group checkbox-list-group">
                                <form id="payForm">
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="payOptionGroup" value="creditCard" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Karta kredytowa</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="payOptionGroup" value="transfer" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Przelew</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="payOptionGroup" value="cod" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Za pobraniem</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="payOptionGroup" value="blik" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Blik</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="payOptionGroup" value="paypal" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> PayPal</span></label>
                                    </div>
                                </form>
                            </div>
                            <div class="list-group radio-list-group border-left">
                                <form id="shippingForm">
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="shippingOptionGroup" value="dpd" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Kurier DPD</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="shippingOptionGroup" value="inpost" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Kurier Inpost</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="shippingOptionGroup" value="home" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Dostawa do domu</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="shippingOptionGroup" value="checkpoint" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Do paczkomatu</span></label>
                                    </div>
                                    <div class="list-group-item border-0">
                                        <label>&nbsp;<input name="shippingOptionGroup" value="frog" type="radio"><span class="list-group-item-text"><i class="fa fa-fw"></i> Do Żabki</span></label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" id="summary" hidden>
                    <div style="height: 70vh" class="justify-content-center mb-auto col-10 align-items-center">
                        <h4 class="p-4 border-bottom" style="margin-bottom: unset">Podsumowanie</h4>
                        <div class="row">
                            <div class="form-group m-2">
                                <div class="m-2">
                                    <h4>Adres</h4>
                                    <p id="nameAddress" class="m-0"></p>
                                    <p id="streetAddress" class="m-0"></p>
                                    <p id="cityAddress" class="m-0"></p>
                                </div>
                                <div class="m-2 pt-2">
                                    <h4>Cena</h4>
                                    <p>Razem: @totalCost zł</p>
                                </div>
                                <div class="m-2 pt-2">
                                    <h4>Płatność</h4>
                                    <p id="payment"></p>
                                </div>
                                <div class="m-2 pt-2">
                                    <h4>Dostawa</h4>
                                    <p id="shipping"></p>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-success" id="executeOrder">Zamów</button>

                        <div class="alert alert-success col-8 position-absolute mt-4" hidden id="orderSuccessMsg" role="alert">
                            <h4 class="alert-heading">Udalo się!</h4>
                            <p>Twoje zamówienie właśnie rozpoczęło swoją podróż.</p>
                            <hr>
                            <p>Zaraz zostaniesz przeniesiony do Panelu Użytkownika.</p>
                        </div>

                        <div class="alert alert-danger col-8 position-absolute mt-4" hidden id="orderFailMsg" role="alert">
                            <h4 class="alert-heading">O nie, cos poszlo nie tak!</h4>
                            <p>Spróbuj jeszcze raz, za chwilę.</p>
                            <hr>
                            <p class="mb-0">Mamy nadzieje ze nastepnym wszystko bedzie sie zgadzac <i class="fas fa-smile-beam"></i></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="justify-content-center  mt-2 d-flex col-12 align-items-center" style="height: 9.8vh">
                <button class="btn btn-primary carousel-control-prev" hidden style="height: 10vh; top: auto;" href="#carouselExampleControls" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="btn btn-primary" id="submit" hidden style="height: 10vh; top: auto;">Podsumowanie</button>
                <button class="btn btn-primary carousel-control-next" hidden style="height: 10vh; top: auto;" href="#carouselExampleControls" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-success col-8 position-absolute mt-4" id="orderSuccessMsg" role="alert">
        <h4 class="alert-heading">Nic tu nie ma.</h4>
        <p>Twój koszyk jest aktualnie pusty.</p>
        <hr>
        <p>Przeglądaj produkty by następnie dodać je do koszyka.</p>
    </div>
}
<script src="js/Cart/Order.js"></script>
<script src="js/Cart/Cart.js"></script>
<script type="text/javascript">
    $(function () { const order = new Order(); });
    $(function () { const cart = new Cart(); });
</script>
